<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Plantaforma de pergunta e respontas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <img src="/img/guia.png" alt="">
    <h1>Guia perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <p> Nome :  <strong><%= nome %></strong></p>
    <p> Lang : <strong><%= lang %></strong> </p> 
    <p> Empresa : <strong><%= empresa %></strong> </p>
    <p> Inscritos : <strong><%= inscritos %></strong> </p>

    <% if (msg) { %>
        <h3>  Isso é uma msg de erro  </h3>
    <%} else { %>
        <h3>  Nenhum erro  </h3>
    <% }%>

    <% produtos.forEach( function(produto) { %>
        <hr>
        <h3> <%= produto.nome %> </h3>
        <h3> <%= produto.preco %> </h3>
    <% } ) %>

</body>
</html>